* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: 'Jost', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: no-repeat;
  background-size: cover;
}

#card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  max-width: 1200px;
  height: 700px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: no-repeat;
  background-size: cover;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 2);
}

.show-weather {
  position: relative;
  height: 700px;
  width: 700px;
  padding-left: 20px;
}

.logo {
  position: absolute;
  top: 0;
  margin-left: 30px;
  color: rgb(248, 242, 242);
  letter-spacing: 1.5px;
  font-size: 25px;
  text-shadow: 2px 2px #222121;
  padding-left: 35px;
  padding-top: 20px;
}
h1 {
  color: rgb(248, 242, 242);
  text-shadow: 2px 2px #222121;
  font-size: 100px;
  letter-spacing: 4px;
  padding-left: 50px;
}

#cityResult {
  color: rgb(248, 242, 242);
  text-shadow: 2px 2px #222121;
  font-size: 45px;
  letter-spacing: 2px;
  position: absolute;
  bottom: 25px;
  margin-right: 20px;
}

#icon {
  height: 80px;
  /* margin-left: 180px; */
  margin-bottom: 40px;

  justify-content: flex-start;
}

#city-icon {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: flex-start;
}

.weather-result {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
}

.weather-input {
  font-size: 20px;
  width: 500px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

input {
  background-color: transparent;
  justify-content: center;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  min-width: 200px;
  margin-top: 40px;
  font-style: rgb(248, 242, 242);
  text-shadow: 2px 2px #222121;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  width: 70%;
  margin-left: 25%;
}

input:active {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px #222121;
  font-family: 'Jost', sans-serif;
  letter-spacing: 2px;
}
::placeholder {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px #222121;
  font-family: 'Jost', sans-serif;
  letter-spacing: 2px;
}

input:focus {
  outline: none;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px #222121;
  font-family: 'Jost', sans-serif;
  letter-spacing: 2px;
}

input.name {
  font-family: 'Jost', sans-serif;
}

button {
  transition: all 0.5s ease;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  border-radius: 5px;
  font-family: 'Jost', sans-serif;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  background-color: transparent;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 13px;
  padding-bottom: 13px;
  outline: none;
  border: none;
  outline: none;
  width: 70%;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 20px;
  color: white;
  text-shadow: 2px 2px #222121;
  letter-spacing: 2px;
}

a {
  transition: all 0.5s ease;
  color: white;
  text-shadow: 2px 2px #222121;
  border-radius: 5px;
  background-color: transparent;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

a:hover {
  color: #001f3f;
  background-color: rgb(61, 171, 235);
  text-shadow: none;
}
button:hover {
  color: #001f3f;
  background-color: rgb(61, 171, 235);
  text-shadow: none;
}

li {
  list-style: none;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 70%;
}

.cities {
  margin-top: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 20px;
}

ul {
  margin-top: 15px;
  height: 310px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

#amsterdam {
  padding-left: 50px;
}

.weather-result-details {
  padding-left: 50px;
  padding-right: 50px;
  height: 200px;
  margin-top: 30px;
  color: rgb(248, 242, 242);
  text-shadow: 2px 2px #222121;
  letter-spacing: 2px;
}

table {
  margin-top: 15px;
  width: 100%;
}

tr {
  margin-top: 40px;
  border: 3px solid red;
}

td {
  justify-content: space-between;
  margin: 20px;
}

#description {
  text-align: left;
}
#cloudsValue {
  text-align: right;
}

.desc {
  text-align: left;
}

.right-desc {
  text-align: right;
}

hr {
  width: 75%;
}

@media screen and (max-width: 600px) {
  #card {
    display: inline-block;
    flex-direction: column;
    position: relative;
    max-width: 80%;
  }
  #city-icon {
    max-width: 150px;
  }
  #cityResult {
    font-size: 30px;
  }
  h1 {
    font-size: 60px;
  }
  .show-weather {
    max-width: 80%;
  }
  .weather-input {
    max-width: 80%;
  }
}
